@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Quicksand:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');

:root {
    --black : #2B2E35;
    --blue : #5372E1;
    --redo : #FC5C5D;
    --grey1 : #7B7B7B;
    --skin : #FCF9EE;
    --green : #148697;
    --yellow : #FAED86;
}

::-webkit-scrollbar {
    width: .8rem;
}

::-webkit-scrollbar-thumb {
    background: var(--redo);
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    background-color: var(--skin);
}

body {
    max-width: 100vw;
    box-sizing: border-box;
}

.cb {
    background-color: var(--skin);
}

.judul {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 26px;
}

.nav-menu a{
    font-family: 'Poppins', sans-serif;
    margin: 0 20px;
}

.cover-intro {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

.cover-intro h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    width: 40%;
    font-size: 65px;
    text-align: center;
    margin: 0 auto;
    line-height: 67px;
    color: var(--black);
}

.cover-intro h1 span {
    color: var(--blue);
}

.cover-intro p {
    font-family: 'Roboto', sans-serif;
    width: 26vw;
    text-align: center;
    margin-top: 26px;
    color: var(--grey1);
}

.buttons {
    display: flex;
    margin-top: 36px;
}

.btn-start {
    font-family: 'Poppins', sans-serif;
    padding: 14px 36px;
    border: none;
    border-radius: 6px;
    background-color: var(--redo);
    color: white;
    box-shadow: rgba(252, 92, 93, .4) 0px 18px 50px -10px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.btn-start:hover {
    background-color: var(--blue);
    color: white;
    transition: all 0.3s ease-in-out;
}

.watch-video {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--black);
}

.play {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: white;
    box-shadow: rgba(252, 92, 93, .4) 0px 18px 50px -10px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.play:hover {
    background-color: #a9b6e5;
}

.play img {
    transform: scale(0.8);
    margin-left: 4px;
}

.img-female {
    position: absolute;
    left: 12rem;
}

.img-male{
    position: absolute;
    right: 8rem;
}

.paper-plane {
    position: absolute;
    top: 2rem;
    transform: translateX(50%);
    width: 18%;
}

.plant-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.plant-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.what-is {
    position: relative;
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--green);
}

.contents {
    padding: 8rem 0;
    display: grid;
    grid-template-columns: .5fr 1fr;
    justify-items: center;
    align-items: center;
}

.pattern-left {
    position: absolute;
    left: 0;
}

.pattern-right {
    display: none;
    position: absolute;
    right: 0;
}

.text-what {
    font-family: 'Quicksand', sans-serif;
    color: var(--yellow);
}

.text-judul {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 70px;
    color: white;
}

.text-2{
    width: 700px;
    display: flex;
    text-align: center;
    align-items: center;
}

.text-2 span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: justify;
    line-height: 44px;
    color: white;
}

.what-do {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    height: 40vh;
}

.what-do h1{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: var(--black);
    font-size: 36px;
    font-weight: 700;
}

.what-do span {
    text-align: center;
    color: var(--grey1);
}

@media (max-width: 767.98px) {
    .judul {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 26px;
    }

    .cover-intro h1 {
        width: 80%;
        font-size: 52px;
        line-height: 55px;
    }

    .cover-intro p {
        width: 70vw;
        margin-top: 26px;
        font-size: 16px;
        color: var(--grey1);
    }

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 36px;
    }

    .img-female {
        left: 4rem;
        bottom: 1.6rem;
        width: 22%;
        z-index: 2;
    }
    
    .img-male{
        right: 2rem;
        bottom: 1.6rem;
        width: 25%;
        z-index: 2;
    }

    .plant-left {
        width: 70px;
        z-index: 3;
    }
    
    .plant-right {
        width: 70px;
    }

    .paper-plane {
        position: absolute;
        top: 2rem;
        transform: translateX(50%);
        width: 30%;
    }
}